body {
  background: #2c3e50;
}

header{
  text-align: center;
  background-color: black;
  margin-bottom:0px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius:10px;
} 
header h2{
  font-size: 5em;
  font-family: open_sansbold,'Open Sans',Arial,Helvetica,sans-serif;
  color: white;
}

main{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 900px;
}

footer{
	text-align: center;
	clear:left;
	margin-left: auto;
	margin-right: 24%;
	padding-top: 30px;
	width: 900px;
	bottom:0;
}
footer h4{
  font-size: 1.2em;
  font-family: "Times New Roman";
  color: black;
}

#aviso1, #aviso2, #aviso3{
	color: red;
	margin-left: 10px;
}

.formholder fieldset {
  border: none;
}

.formholder {
  background: #ecf0f1;
  width: 300px;
  border-radius: 5px;
  padding-top: 5px;
  float: left;
  margin-left: 75px;
}
.formholder #nome, .formholder input[type="password"]:not(.senhaPass){
  padding: 7px 5px;
  margin: 10px 0;
  width: 100%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"],#cadastrar,#deletar{
  background: #1abc9c;
  padding: 10px;
  margin-top: 30px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad fieldset label{
  font-size: 1.2em;
  color: black;
}

.randompad {
  padding: 10px;
  height: 270px;
}

.formholder a {
  color: #ecf0f1;
  text-decoration: none;
}
.formholder a:hover {
  color: #1abc9c;
}


.introducao{
  background: #ecf0f1;
  width: 400px;
  float: left;
  border-radius: 5px;
  padding-top: 5px;
  float: left;
  margin-left: 50px; 
}
.mySlides{
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

#gifCarregando{
  position: fixed;
  top: 20%;
  left: 20%;
}